<div class="max-w-6xl mx-auto p-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col gap-2 space-y-4">
      <app-card>
        @if (tasksLoading) {
          <app-loader message="Loading tasks..."></app-loader>
        }
        @if (tasksError && !tasksLoading) {
          <p class="text-red-500 text-sm text-center">
            {{ tasksError }}
          </p>
        }
        @if (!tasksLoading && !tasksError) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400">Tasks</h3>
          <div class="flex items-center justify-between mt-2">
            <div>
              <div class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                {{ summary.tasks.completed }}
              </div>
              <div class="text-xs text-gray-500 dark:text-gray-400">Completed</div>
            </div>
            <div>
              <div class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                {{ summary.tasks.pending }}
              </div>
              <div class="text-xs text-gray-500 dark:text-gray-400">Pending</div>
            </div>
          </div>
        }
      </app-card>
      <app-card>
        @if (tasksLoading) {
          <app-loader message="Loading tasks..."></app-loader>
        }
        @if (tasksError && !tasksLoading) {
          <p class="text-red-500 text-sm text-center">
            {{ tasksError }}
          </p>
        }
        @if (!tasksLoading && !tasksError) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400 mb-3">Tasks: Completed vs Pending</h3>
          <div class="">
            <canvas
              baseChart
              [data]="tasksChartData"
              [options]="tasksChartOptions"
              chartType="doughnut"
            ></canvas>
          </div>
        }
      </app-card>
    </div>

    <div class="flex flex-col gap-2 space-y-6">
      <app-card>
        @if (leavesLoading) {
          <app-loader message="Loading leaves..."></app-loader>
        }
        @if (leavesError && !leavesLoading) {
          <p class="text-red-500 text-sm text-center">
            {{ leavesError }}
          </p>
        }

        @if (!leavesLoading && !leavesError) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400">Leaves</h3>
          <div class="flex items-center justify-between mt-2">
            <div>
              <div class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                {{ summary.leaves.approved }}
              </div>
              <div class="text-xs text-gray-500 dark:text-gray-400">Approved</div>
            </div>
            <div>
              <div class="text-3xl font-bold text-gray-900 dark:text-gray-100">
                {{ summary.leaves.pending }}
              </div>
              <div class="text-xs text-gray-500 dark:text-gray-400">Pending</div>
            </div>
          </div>
        }
      </app-card>

      <app-card>
        @if (leavesLoading) {
          <app-loader message="Loading leaves..."></app-loader>
        }
        @if (leavesError && !leavesLoading) {
          <p class="text-red-500 text-sm text-center">
            {{ leavesError }}
          </p>
        }

        @if (!leavesLoading && !leavesError) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400 mb-3">
            Leaves: Approved, Pending vs Rejected
          </h3>
          <div class="">
            <canvas
              baseChart
              [data]="leavesChartData"
              [options]="leavesChartOptions"
              chartType="doughnut"
            ></canvas>
          </div>
        }
      </app-card>
    </div>
  </div>
</div>
